@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}

$yellow-bg: #e8db84;
$dark-blue: #052a44;
$text-black: #000000;
$white: #ffffff;
$poppins: "Poppins", sans-serif;
$gray-text: #666;

body {
  font-family: $poppins;
  color: $text-black;
  line-height: 1.6;
}

.container {
  padding: 0 100px;
}

/* =========================
   REVIEW SECTION
========================= */
.review {
  .section-header {
    text-align: center;
    margin-bottom: 60px;

    h1 {
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    p {
      max-width: 600px;
      margin: 0 auto;
      font-size: 15px;
      color: $gray-text;
    }
  }

  .reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .review-card {
    background: $white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);
    }

    .user-info {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 15px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      h4 {
        font-size: 16px;
        font-weight: 600;
      }

      span {
        font-size: 14px;
        color: #777;
      }
    }

    p {
      font-size: 14px;
      line-height: 1.6;
      color: #555;
    }
  }

  .arrows {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 80px;

    span {
      width: 45px;
      height: 45px;
      background: $dark-blue;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.85;
      }

      img {
        width: 18px;
      }
    }
  }
}

/* =========================
   CONTACT SECTION
========================= */

.yellow-card {
  padding: 40px 32px 40px 32px;
}

.contact-conteiner {
  background-color: $yellow-bg;
  max-width: auto;
  border-radius: 29px;

  .card-header {
    text-align: center;
  }

  h2 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
  }
}

.contact-form {
  text-align: center;
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
  }

  @mixin form-field {
    width: 100%;
    padding: 20px 24px;
    color: #1e1e1e;
    font-weight: 400;
    border: none;
    font-family: $poppins;
    border-radius: 8px;
  }

  input {
    @include form-field;
  }

  textarea {
    @include form-field;
    resize: none;
  }

  button {
    background: $dark-blue;
    color: $white;
    border: none;
    padding: 15px 43px 15px 43px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    &:hover {
      opacity: 0.9;
    }
  }
}

/* =========================
   FOOTER
========================= */

footer {
  .footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
    .footer-column {
      h4 {
        color: #052a44;
        font-weight: 500;
        margin-bottom: 8px;
        font-size: 20px;
      }
      p {
        color: #071210;
        font-weight: 400;
        font-size: 16px;
      }
      .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        margin-top: 10px;
      }
      .emailAddress {
        text-decoration: none;
        color: #071210;
        font-weight: 400;
        font-size: 16px;
      }
    }
  }

  hr {
    opacity: 0.5;
  }

  .footer-bottom {
    text-align: center;
    padding-top: 24px;
    color: #071210;
    font-weight: 400;
    font-size: 16px;
  }
}

/* =========================
   RESPONSIVE
========================= */
// @media (max-width: 992px) {

// }
